<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'Chat/css/bootstrap.min.css' %}">
    <title>{{ title }}</title>
</head>
<body class="bg-light">

{% include 'Components/navbar.html' %}
    
<main role="main">
    <div class="container">

        {% if messages %}
        {% for message in messages %}
        <div class="alert mt-3 alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{ message.tags }}!</strong> {{ message }}
        </div>
        {% endfor %}
        {% endif %}

      {% block content %}
      {% endblock content %}
    </div>

<script src="{% static 'Chat/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>