{% extends 'Chat/base.html' %}

{% block content %}

<div class="container mt-5">

    <center><h1>Django Chat App using Channels</h1></center>
    <p>Channels is a project that takes Django and extends its abilities beyond HTTP - to handle WebSockets, chat protocols, IoT protocols, and more. It’s built on a Python specification called ASGI. Channels builds upon the native ASGI support in Django. Whilst Django still handles traditional HTTP, Channels gives you the choice to handle other connections in either a synchronous or asynchronous style.</p>

</div>

{% endblock content %}
