{% extends 'Chat/base.html' %}

{% block content %}

<div class="container mt-5">

    <center><h1>Chat Room : {{ room.name }}</h1></center>

    <div class="container rounded-3 shadow mt-3 bg-white p-3" id="chat-messages">
    {% for room_message in room_messages %}

        {% if user.username == room_message.user.username %}   
        <div class="container bg-light shadow-sm pt-3 pb-1 mb-3 text-end rounded-3">
            <p>{{ room_message.user.username }}</p><hr>
            <p>{{ room_message.content }}</p>
        </div>
        {% else %}
        <div class="container bg-light shadow-sm pt-3 pb-1 mb-3 rounded-3">
            <p>{{ room_message.user.username }}</p><hr>
            <p>{{ room_message.content }}</p>
        </div>
        {% endif %}

    {% endfor %}
</div>

    <div class="container rounded-3 shadow mt-3 bg-white p-3">
        <form action="" method="post">
            <div class="input-group">
                <input type="text" id="chat-message-input" name="content" class="form-control">
                <div class="input-group-append">
                  <button class="btn btn-dark" id="chat-message-submit" type="submit">Send Message</button>
                </div>
              </div>
        </form>
    </div>

</div>

{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')

        const data = JSON.parse(e.data);

        if (data.message) {

            var tet = '';

            if (data.username==userName){
                tet = '<div class="container bg-light shadow-sm text-end pt-3 pb-1 mb-3 rounded-3">';
            }
            else{
                tet = '<div class="container bg-light shadow-sm pt-3 pb-1 mb-3 rounded-3">';
            }

            let html = tet;
                html += '<p>' + data.username + '</p><hr>';
                html += '<p>' + data.message + '</p></div>';

            document.querySelector('#chat-messages').innerHTML += html;

            scrollToBottom();
        } else {
            alert('The message was empty!');
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    //

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false;
    }

    //

    function scrollToBottom() {
        const objDiv = document.querySelector('#chat-messages');
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>    

{% endblock content %}
